<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Package Express</a>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/getPackage" class="nav-link" href="#">Get Package</a>
      </li>
      <li class="nav-item">
        <a routerLink="/recievePackage" class="nav-link" href="#">Recieve Package</a>
      </li>
      <li class="nav-item">
        <a routerLink="/addResponse" class="nav-link" href="#">Add Response</a>
      </li>



    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a (click)="logout()" class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>


