
<div *ngIf="commonLayout">
  <app-common-layout></app-common-layout>
</div>
<div *ngIf="customerLayout">
  <app-customer-layout></app-customer-layout>
</div>
<div *ngIf="officerLayout">
  <app-officer-layout></app-officer-layout>
</div>
<div class="full" style="background-color:#008080;">
<div class="myContent" >
  <div class="container">
    <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm)">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <h2 style="text-align:center;color:white;">Login</h2>
          <h6 style="text-align:right;color:dimgrey;font-size:small">All fields are mandatory</h6>
          <div class="form-group" style="text-align:center">
            <div class="col" style="text-align:center">
              <label>Email Id</label>
            </div>
            <div class="col; input-group">
              <input type="email" name="emailId" #emailId="ngModel" style="border-radius:20%" class="form-control" ngModel required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
            </div>
            <div *ngIf="emailId.errors && (emailId.dirty || emailId.touched)" style="text-align:center; padding-top:5px; color:red;">
              <div [hidden]="!emailId.errors.required">
					<!--<p>&nbsp;Email id is mandatory</p>-->
              </div>
              <div [hidden]="!emailId.errors.pattern">
               <!-- <p>&nbsp;Email id is not entered in proper format</p>-->
              </div>
            </div>
          </div>
          <div class="form-group" style="text-align:center">
            <div class="col" style="text-align:center">
              <label>Password</label>
            </div>
            <div class="col; input-group">
              <input type="password" name="password" #password="ngModel" style="border-radius:20%" class="form-control" ngModel required>
            </div>
            <div *ngIf="password.errors && (password.dirty || password.touched)" style="text-align:center; padding-top:5px; color:red;">
              <div [hidden]="!password.errors.required">
                <p>&nbsp;Password is mandatory</p>
              </div>
            </div>
          </div>
          <div class="form-group" style="text-align:center">
            <button type="submit" [disabled]="!loginForm.form.valid" class="btn" style="border-radius:20%;text-align:center;color:green;height:20px">Login</button>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div *ngIf="showDiv" style="color:red;text-align:center;">
        <br />
        {{message}}
      </div>
    </form>
  </div>
</div>
</div>
