<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Package Express</a>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/editProfile" class="nav-link" href="#">Edit Profile</a>
      </li>
      <li class="nav-item">
        <a routerLink="/checkServiceAvailability" class="nav-link" href="#">Check Service Availability</a>
      </li>
      <li class="nav-item">
        <a routerLink="/schedulePickup" class="nav-link" href="#">Schedule PickUp</a>
      </li>
      <li class="nav-item">
        <a routerLink="/trackShipment" class="nav-link" href="#">Track Shipment</a>
      </li>
      <li class="nav-item">
        <a routerLink="/packageHistory" class="nav-link" href="#">Package History</a>
      </li>
      <li class="nav-item">
        <a routerLink="/customerFeedback" class="nav-link" href="#">Customer Feedback</a>
      </li>


    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a (click)="logout()" class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>

